@using EntityLayer.DTOs
@model StaffListDto

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model.StaffList)
{
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Id</h5>
                        <h5 class="card-title">@(item.Name + " " + item.SirName)</h5>
                        <p class="card-text">TC: @item.TCNo</p>
                        <p class="card-text">İşe Başlama Tarihi: @item.StartTime</p>
                        <p class="card-text">Yıllık İzin: @(item.LastYear + item.ThisYear)</p>
                        <a type="button" class="btn btn-warning" asp-controller="PTO" asp-action="PTOForm" asp-route-id="@item.Id">İzin Gir</a>
                        @* <a type="button" class="btn btn-warning" asp-controller="personel" asp-action="Edit" asp-route-id="@personel.PersonelId">Düzenle</a>
                        <a type="button" class="btn btn-warning" asp-controller="personel" asp-action="EditFGY" asp-route-id="@personel.PersonelId">FGY Düzenle</a>
                        *@
                    @if (User.IsInRole("Admin")){
                        <form asp-controller="Staff" asp-action="Delete" method="post" style="display:inline">
                            <input type="hidden" name="StaffId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form> 
                        }
                    </div>
                </div>
                @* <div class="col-md-2">
                    <p><b>Fakülte: </b>@personel.Fakulte.FakulteName<hr /><b>Bölüm: </b>@personel.Bolum.BolumName<hr /><b>Abd: </b>@personel.Abd.AbdName</p>
                </div> *@


            </div>
        </div>

    
}
