@using EntityLayer.DTOs
@model StaffListDto

@if (TempData["Message"] != null)
{
    @section message {
    @await Html.PartialAsync("_message", (string)TempData["Message"])
}
}

@foreach (var item in Model.StaffList.Join(Model.DepartmentList,d=> d.DepartmentId, s=> s.Id,(d,s)=> new {d,s}))
    
{
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.d.Id</h5>
                        <h5 class="card-title">@(item.d.Name + " " + item.d.SirName)</h5>
                        <p class="card-text">TC: @item.d.TCNo</p>
                        <p class="card-text">İşe Başlama Tarihi: @item.d.StartTime</p>
                        <p class="card-text">Yıllık İzin: @(item.d.LastYear + item.d.ThisYear)</p>
                        <a type="button" class="btn btn-warning" asp-controller="PTO" asp-action="PTOForm" asp-route-id="@item.d.Id">İzin Gir</a>
                        
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-controller="Staff" asp-action="Delete" method="post" style="display:inline">
                            <input type="hidden" name="StaffId" value="@item.d.Id" />
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form> 
                    }
                    </div>
                </div>

            <div class="col-md-2">
                <p><b>Fiili Görev Yeri: </b>@item.s.Name<hr />
            </div>
                   


            </div>
        </div>

    
}

    
